/* sec 2 grid -----------------------------------------------------------------------------------------------*/
.apply__grid {
  background-color: rgb(10, 10, 10);
  width: auto;
  margin: auto;
  padding: 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.apply__grid > div {
  text-align: center;
}
.apply__grid > div > img {
  height: 150px;
  aspect-ratio: 1.5/1;
}
.items1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.items2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.items3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.items4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.items5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.items6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.items7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
.items8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.items1 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items2 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items3 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items4 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items5 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items6 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items7 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items8 {
  /* background: linear-gradient(to right, #403b4a, #e7e9bb); */
  /* padding-top: 10px; */
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: white;
}
.wid500{
  display: none;
}
.grid500{
  display: block;
}
.carousel-inner-2nd{ 
  height: 300px;
}
.card_2nd{
  background: linear-gradient(to right, #232526, #414345);
  height: 300px;
  text-align: center;
}
.card_2nd img{
  height: 70%;
  /* aspect-ratio: 1/1; */
}
/* Media Query sec 2 ------------------------------------------------------------ */

@media only screen and (max-width: 1200px)
{

.apply__grid{
  width: auto !important;
}

.mycontainer1{
  max-width: 1160px !important;
}
}

@media only screen and (max-width: 1000px)
{
  .apply__grid{
    width: auto !important;
    grid-template-columns: 1fr 1fr;
  }
  
  .items1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .items2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .items3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .items4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .items5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .items6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .items7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  .items8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
  }
}
@media only screen and (max-width: 500px)
{
.wid500{
  display: block;
}
.grid500{
  display: none;
}
}


/* contct us section -------------------------------------------------------------------------------------------------- */
.contactsec {
  background-color: rgb(10, 10, 10);
}
.contact_head{
  color: white;
   text-align: center;
   padding-bottom: 1%;
}
.rowsec5 {
  display: flex;
  color: white;
}
.col1sec5 {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100%;
  /* padding-top: 3%; */
}
.col2sec5{
  width: 100%;
}
.dist {
  margin-left: 13%;
}
.col1box {
  background-color: #404042;
  border: none;
}
.col1input {
  height: 45px;
  width: 200px;
  color: white;
}

.contact_input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact_input input {
  width: 79%;
}

.buttonsec5{
  padding-top: 6%;
}
.button1sec5{
  background-color: #404042;
  border: none;
  color: white;
  padding: 10px 20px;
}

.button2sec5{
  margin-left: 2%;
  background-color: #404042;
  border: none;
  color: white;
  padding: 10px 20px;
}

/* contact us media query ---------------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  .contact_input {
    flex-direction: column;
    width: 100%;
  }
  .rowsec5{
    flex-direction: column;
  }
  .contact_input input {
    width: 100%;
  }
  .col1sec5 textarea {
    width: 100% !important;
  }
  .col2sec5{
    margin-top: 20px;
    height: 300px;
  }
}
